{{!-- {{#if profile}}
          <div class="col-sm-6 col-md-8">
            <h4>{{profile.HoTen}}</h4>
            <small><cite title="Ho Chi Minh, Viet Nam">Hồ Chí Minh city, Việt Nam <i
                  class="glyphicon glyphicon-map-marker">
                </i></cite></small>
            <p>
              <i class="glyphicon glyphicon-user"></i>Biệt danh : {{profile.ButDanh}}</a>
              <br />
              <i class="glyphicon glyphicon-envelope"></i>Email : {{profile.Email}}</a>
              <br />
              <i class="glyphicon glyphicon-gift"></i>Ngày sinh : {{profile.day}}/{{profile.month}}/{{profile.year}}</a>
              <br />
              <i class="glyphicon glyphicon-tags"></i>Tag : </a>
              <br />
              <i class="glyphicon glyphicon-wrench"></i>Phân quyền : <b>{{profile.PhanQuyen}}</b> (0: Admin, 1: Thành viên)</a>
              <br/><br>
              <a href="/account/editprofile/{{profile.ID}}" role="button" class="btn btn-lg btn-warning float-right" >Chỉnh sửa</button></a>
              </p>
            {{/if}} --}}
<style>
  body {
    background: -webkit-linear-gradient(left, #797980, #7ea0d4);

  }

  .nav-link active {
    margin-top: 1000px;
  }

  .emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
  }

  .profile-img {
    text-align: center;
  }

  .profile-img img {
    width: 70%;
    height: 100%;
  }

  .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
  }

  .profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
  }

  .profile-head h5 {
    color: #333;
  }

  .profile-head h6 {
    color: #00ccaa;
  }

  .profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
  }

  .proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
  }

  .proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }

  .profile-head .nav-tabs {
    margin-bottom: 5%;
  }

  .profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
  }

  .profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
  }

  .profile-work {
    padding: 14%;
    margin-top: -15%;
  }

  .profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }

  .profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }

  .profile-work ul {
    list-style: none;
  }

  .profile-tab label {
    font-weight: 600;
  }

  .profile-tab p {
    font-weight: 600;
    color: #006661;
  }
</style>

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="/images/profile.jpg" style="width: 50%" alt="profile" class="rounded" />
          {{!-- <div class="file btn btn-primary">
            Change Photo
            <input type="file" name="file" />
          </div> --}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            <b>Thông Tin Cá Nhân</b>
          </h5>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active mt-30" id="home-tab" data-toggle="tab" href="#home" role="tab"
                aria-controls="home" aria-selected="true">About</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <a href="/account/editprofile/{{profile.ID}}" role="button" class="btn btn-lg btn-warning float-right" >Chỉnh sửa</button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-20">
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {{#if profile}}
            <div class="row">
              <div class="col-md-6">
                <label>Họ tên</label>
              </div>
              <div class="col-md-6">
                <p>{{profile.HoTen}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Bút danh</label>
              </div>
              <div class="col-md-6">
                <p>{{profile.ButDanh}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{profile.Email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Ngày sinh</label>
              </div>
              <div class="col-md-6">
                <p>{{profile.day}}/{{profile.month}}/{{profile.year}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Loại tài khoản</label>
              </div>
              <div class="col-md-6">
                <p>{{profile.PhanQuyen}}</p>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>