
<section class="hero-area">
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <div class="a" style="--n: 5;">
                <div class="dot" style="--i: 0;"></div>
                <div class="dot" style="--i: 1;"></div>
                <div class="dot" style="--i: 2;"></div>
                <div class="dot" style="--i: 3;"></div>
                <div class="dot" style="--i: 4;"></div>
            </div>
        </div>
    </div>

    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post d-flex flex-wrap">
            <!-- Post Thumbnail -->
            <div class="slide-post-thumbnail h-100 bg-img" style="background-image: url(/public/images/106005.jpg);"></div>
            <!-- Post Content -->
            <div class="slide-post-content h-100 d-flex align-items-center">
                <div class="slide-post-text">
                    <p class="post-date" data-animation="fadeIn" data-delay="100ms">NGÀY 19/6/2019</p>
                    <a href="/products/152" class="post-title" data-animation="fadeIn" data-delay="300ms">
                        <h2>Taylor Swift - You Need To Calm Down</h2>
                    </a>
                    <p class="post-excerpt" data-animation="fadeIn" data-delay="500ms">Âm nhạc</p>
                    <a href="/products/152" class="btn nikki-btn" data-animation="fadeIn" data-delay="700ms">Read
                        More</a>
                </div>
                <!-- Page Count -->
                <div class="page-count"></div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post d-flex flex-wrap">
            <!-- Post Thumbnail -->
            <div class="slide-post-thumbnail h-100 bg-img" style="background-image: url(/public/images/photostory-2-copy-7-1560590618590403583561.jpg);"></div>
            <!-- Post Content -->
            <div class="slide-post-content h-100 d-flex align-items-center">
                <div class="slide-post-text">
                    <p class="post-date" data-animation="fadeIn" data-delay="100ms">NGÀY 18/6/2019</p>
                    <a href="/products/79" class="post-title" data-animation="fadeIn" data-delay="300ms">
                        <h2>Cùng đi chén sạch "bạch tuộc 7 món" ngay trong lúc vào mùa thu hoạch nhé!</h2>
                    </a>
                    <p class="post-excerpt" data-animation="fadeIn" data-delay="500ms">Hình Ảnh Post</p>
                    <a href="/products/79" class="btn nikki-btn" data-animation="fadeIn" data-delay="700ms">Read
                        More</a>
                </div>
                <!-- Page Count -->
                <div class="page-count"></div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post d-flex flex-wrap">
            <!-- Post Thumbnail -->
            <div class="slide-post-thumbnail h-100 bg-img" style="background-image: url(/public/images/Tap10_RNM_101.jpg);"></div>
            <!-- Post Content -->
            <div class="slide-post-content h-100 d-flex align-items-center">
                <div class="slide-post-text">
                    <p class="post-date" data-animation="fadeIn" data-delay="100ms">NGÀY 19/6/2019</p>
                    <a href="/products/142" class="post-title" data-animation="fadeIn" data-delay="300ms">
                        <h2>Running Man tập 10: Hiền Hồ xuất hiện mờ nhạt</h2>
                    </a>
                    <p class="post-excerpt" data-animation="fadeIn" data-delay="500ms">Với chủ đề Cuộc đua đám cưới, tập 10 Running Man (Chạy đi chờ chi) nối tiếp diễn biến dang dở của thử thách gói hoa giữa Hari Won, Ninh Dương Lan Ngọc, Sam và Puka.</p>
                    <a href="/products/142" class="btn nikki-btn" data-animation="fadeIn" data-delay="700ms">Read
                        More</a>
                </div>
                <!-- Page Count -->
                <div class="page-count"></div>
            </div>
        </div>

    </div>
</section>

<section class="blog-content-area section-padding-100">
    <div class="container">

        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>BÀI VIẾT MỚI NHẤT</h6>
                        </div>
                        <div class="row">
                            {{#each this.lcProducts}}

                            <!-- Single Blog Post -->
                            <div class="col-12 col-sm-6">
                                <div class="single-blog-post mb-50">
                                    <!-- Thumbnail -->
                                    <div class="post-thumbnail">
                                        <a href="/products/{{ProID}}"><img src="{{AnhDaiDien}}" alt=""></a>
                                    </div>
                                    <!-- Content -->
                                    <div class="post-content">
                                        <p class="post-date">Ngày {{day}}/{{month}}/{{year}}</p>
                                        <a href="/products/{{ProID}}" class="post-title">
                                            <h4>{{TieuDe}}</h4>
                                        </a>
                                        <p class="post-excerpt">{{TenLoaiCon}}</p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            
                        </div>
                    </div>
                </div>

                <!-- Pager -->
                <ol class="nikki-pager">
                    <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Trước</a></li>
                    <li><a href="#">Sau <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                </ol>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    {{!-- <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>About Me</h6>
                        </div>
                        <!-- Thumbnail -->
                        <div class="about-thumbnail">
                            <img src="img/blog-img/about-me.jpg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="widget-content text-center">
                            <img src="img/core-img/signature.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ipsum adipisicing</p>
                        </div>
                    </div> --}}

                    <!-- ##### Single Widget Area ##### -->
                    {{!-- <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Subscribe &amp; Follow</h6>
                        </div>
                        <!-- Widget Social Info -->
                        <div class="widget-social-info text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </div>
                    </div> --}}

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>XEM NHIỀU</h6>
                        </div>

                        <!-- Single Latest Posts -->
                        {{#each lcProductsview}}
                        <div class="single-latest-post d-flex">
                            <div class="post-thumb">
                                <img src="{{AnhDaiDien}}" alt="" style="width: 150px; height: 130px">
                            </div>
                            <div class="post-content">
                                <a href="/products/{{ProID}}" class="post-title">
                                    <h6>{{TieuDe}}</h6>
                                </a>
                                <p class="post-date">Ngày {{day}}/{{month}}/{{year}}</p>
                                <p class="post-excerpt">{{TenLoaiCon}}</p>
                                {{!-- <a href="#" class="post-author"><span>by</span> Administrator</a> --}}
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Tin mới mọi chuyên mục</h6>
                        </div>

                        <!-- Single Latest Posts -->
                        {{#each lcProductsViewCat}}
                        <div class="single-latest-post d-flex">
                            <div class="post-thumb">
                                <img src="{{AnhDaiDien}}" alt="" style="width: 150px; height: 130px">
                            </div>
                            <div class="post-content">
                                <a href="/products/{{ProID}}" class="post-title">
                                    <h6>{{TieuDe}}</h6>
                                </a>
                                <p class="post-date">Ngày {{day}}/{{month}}/{{year}}</p>
                                <p class="post-excerpt">{{TenLoaiCon}}</p>
                                {{!-- <a href="#" class="post-author"><span>by</span> Administrator</a> --}}
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Nổi bật trong tuần</h6>
                        </div>

                        <!-- Single Latest Posts -->
                        {{#each lcPopularWeek}}
                        <div class="single-latest-post d-flex">
                            <div class="post-thumb">
                                <img src="{{AnhDaiDien}}" alt="">
                            </div>
                            <div class="post-content">
                                <a href="/products/{{ProID}}" class="post-title">
                                    <h6>{{TieuDe}}</h6>
                                </a>
                                <p class="post-date">Ngày {{day}}/{{month}}/{{year}}</p>
                                <p class="post-excerpt">{{TenLoaiCon}}</p>
                                {{!-- <a href="#" class="post-author"><span>by</span> Administrator</a> --}}
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Đăng kí nhận tin</h6>
                        </div>
                        <!-- Content -->
                        <div class="newsletter-content">
                            <p>Theo dõi bản tin của chúng tôi để nhận thông báo về các cập nhật mới, bài viết, thông
                                tin, v.v.</p>
                            <form action="javascript:;" method="post">
                                <input type="email" name="email" class="form-control" placeholder="Email của bạn ...">
                                <button><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>

                    <!-- ##### Single Widget Area ##### -->
                    {{!-- <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Thẻ phổ biến</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            <li><a href="#">LifeStyle</a></li>
                            <li><a href="#">Sport</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Photography</a></li>
                            <li><a href="#">Yoga</a></li>
                            <li><a href="#">Health Food</a></li>
                            <li><a href="#">Summer Holiday</a></li>
                            <li><a href="#">Supper Food</a></li>
                            <li><a href="#">Life</a></li>
                        </ol>
                    </div> --}}

                </div>
            </div>
        </div>
    </div>
</section>