<div class="section">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>{{Nhan}}</h2>
                        </div>
                    </div>
                    {{#each this.products}}
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="#"><img src="/images/sp/{{ProID}}/main_thumbs.jpg"
                                    alt="{{TieuDe}}" title="{{TieuDe}}"></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-4"
                                        href="/categories/{{this.ChuyenMuc}}">{{this.ChuyenMuc}}</a>
                                    <a class="post-category cat-1"
                                        href="/tag/{{this.Nhan}}">{{this.Nhan}}</a>
                                    <span class="post-date">{{h_dateformat this.NgayDang}}</span>
                                </div>
                                <h3 class="post-title"><a href="/post/{{this.ProID}}">{{this.TieuDe}}</a></h3>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="clearfix visible-md visible-lg"></div>
                    {{/each}}
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                {{#each this.page_numbers}}
                                {{#if active}}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">
                                        {{value}}
                                        <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>