{{!-- <div class="pb-5 pr-5 pr-sm-0 float-left float-sm-none w-2-3 w-sm-100 h-100 h-sm-300x">
    <a class="pos-relative h-100 dplay-block" href="#">

        <div class="img-bg bg-1 bg-grad-layer-6"></div>

        <div class="abs-blr color-white p-20 bg-sm-color-7">
            {{#each this.products}}
            <h3 class="mb-15 mb-sm-5 font-sm-13"><b>{{TieuDe}}</b></h3>
            <ul class="list-li-mr-20">
                <li>by <span class="color-primary"><b>Olivia Capzallo</b></span> Jan 25, 2018</li>
                <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>30,190</li>
                <li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>30</li>
            </ul>
            {{/each}}
        </div>
        <!--abs-blr -->
    </a>
    <!-- pos-relative -->
</div> --}}


<style>
    .format {
        margin-left: 230px;
    }

    .size {
        font-size: 0.875em;
    }

    .align {
        margin-left: 400px;
    }
</style>

<div class="format">
    <div class="col-12 col-lg-8">
        <div class="blog-posts-area">
            <div class="single-widget-area mb-30">
                <div class="row">
                    {{#each this.productsCat}}

                    <!-- Single Blog Post -->
                    <div class="col-12 col-sm-6">
                        <div class="single-blog-post mb-50">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail">
                                <a href="/products/{{ProID}}"><img src="{{AnhDaiDien}}" alt=""></a>
                            </div>
                            <!-- Content -->
                            <div class="post-content">
                                <p class="post-date">Ngày {{day}}/{{month}}/{{year}}</p>
                                <a href="/products/{{ProID}}" class="post-title">
                                    <h4>{{TieuDe}}</h4>
                                </a>
                                <p class="post-excerpt">{{TenLoaiCon}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <!-- Pager -->
        <ol class="nikki-pager">

            <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Trước</a></li>
            {{#each this.page_numbers}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{value}}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {{else}}
            <li><a href="?page={{value}}">{{value}}<i class="fa fa-long-arrow-center" aria-hidden="true"></i></a></li>
            {{/if}}
            {{/each}}
            <li><a href="#">Sau <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
        </ol>
    </div>
</div>