<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12">

                <!-- Post Details Area -->
                <div class="single-post-details-area">
                    <div class="post-content">
                        {{#if this.error}}
                        <div class="alert alert-danger" role="alert">
                            Thể loại không hợp lệ quạy lại <a href="/" class="alert-link">Trang chủ</a>.
                        </div>
                        {{else}}
                        {{#with this.product}}

                        <div>
                            <div class="text-center mb-50">
                                <p class="post-date">Ngày {{day}}/{{month}}/{{year}}</p>
                                <h2 class="post-title">{{TieuDe}}</h2>
                                <h4 class="mb-15">{{TenLoaiCon}}</h4>
                                {{!-- <!-- Post Meta -->
                                <div class="post-meta">
                                    <a href="#"><span>by</span> Colorlib</a>
                                    <a href="#">03 <span>Comments</span></a>
                                </div> --}}
                            </div>
                        </div>

                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail mb-50">
                            <img src="{{AnhDaiDien}}" alt="" class="cangiua" />
                        </div>

                        <!-- Post Text -->
                        <div class="post-text">
                            <!-- Share -->
                            <div class="post-share">
                                <span>Share</span>
                                <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#" class="pin"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a>
                            </div>

                            <!-- Post -->
                            <p class="card-text">
                                {{{NoiDung}}}
                            </p>

                            <!-- Post Tags & Share -->
                            <div>
                                <div class="post-tags-share">
                                    <!-- Tags -->
                                    <ol class="popular-tags d-flex flex-wrap ">
                                        <li><a href="/tag/{{TagID}}/products"><b>Tag : #{{Nhan}}</b></a></li>
                                    </ol>
                                </div>
                            </div>
                            {{/with}}
                            <!-- Related Post Area -->

                            <div class="related-posts clearfix">
                                <!-- Headline -->
                                <h4 class="headline">Cùng chuyên mục</h4>
                                <div class="row">
                                    {{#each lcSameCategories}}
                                    <!-- Single Blog Post -->
                                    <div class="col-12 col-lg-6">

                                        <div class="single-blog-post mb-50">
                                            <!-- Thumbnail -->
                                            <div class="post-thumbnail">
                                                <a href="#"><img src="{{AnhDaiDien}}" alt=""></a>
                                            </div>
                                            <!-- Content -->
                                            <div class="post-content">
                                                <p class="post-date">{{day}}/{{month}}/{{year}}</p>
                                                <a href="#" class="post-title">
                                                    <h4>{{TieuDe}}</h4>
                                                </a>
                                                <p class="post-excerpt">{{NDTomTat}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>

                            <!-- Comment Area Start -->
                            <div class="comment_area clearfix">
                                <h4 class="headline">Bình luận</h4>

                                <ol>
                                    <!-- Single Comment Area -->
                                    {{#each lcComments}}
                                    <li class="single_comment_area">
                                        <div class="comment-wrapper d-flex">
                                            <!-- Comment Meta -->

                                            <div class="comment-author">
                                                <img src="img/blog-img/9.jpg" alt="">
                                            </div>
                                            <!-- Comment Content -->
                                            <div class="comment-content">
                                                <span class="comment-date">{{day}}/{{month}}/{{year}}</span>
                                                <h5>{{TenDocGia}}</h5>
                                                <p>{{NoiDungBL}}</p>
                                                <a href="#">Like</a>
                                                <a class="active" href="#">Reply</a>
                                            </div>

                                        </div>
                                    </li>
                                    {{/each}}

                                    {{!-- <li class="single_comment_area">
                                            <div class="comment-wrapper d-flex">
                                                <!-- Comment Meta -->
                                                <div class="comment-author">
                                                    <img src="img/blog-img/11.jpg" alt="">
                                                </div>
                                                <!-- Comment Content -->
                                                <div class="comment-content">
                                                    <span class="comment-date">MAY 24, 2018</span>
                                                    <h5>Chris Hemsworth</h5>
                                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi</p>
                                                    <a href="#">Like</a>
                                                    <a class="active" href="#">Reply</a>
                                                </div>
                                            </div>
                                        </li> --}}
                                </ol>

                            </div>

                            <!-- Leave A Comment -->
                            <div class="leave-comment-area clearfix">
                                <div class="comment-form">
                                    <h4 class="headline">Leave A Comment</h4>

                                    <!-- Comment Form -->
                                    <form action="#" method="POST">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="contact-name"
                                                        placeholder="Tên">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="contact-email"
                                                        placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" id="message" cols="30"
                                                        rows="10" placeholder="Bình luận"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn nikki-btn">Gửi</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>