{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
<script
    src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
    $(function () {

        $('#fuMain').fileinput({
            theme: 'fa',
            dropZoneEnabled: false,
            allowedFileExtensions: ['png', 'jpg', 'gif'],
            uploadClass: 'btn btn-success',
            uploadUrl: '/upload',
            uploadAsync: false,
        });

        tinymce.init({
            selector: '#txtFullDes',
            menubar: false,
            height: 600,
            plugins: 'paste image link autolink lists table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media',
                // 'paste'
            ],
            image_caption: true,
        });
    })
</script>
{{/section}}

<div class="container">
    {{#if this.error}}
    <div class="alert alert-danger" role="alert">
        ID không hợp lệ! <a href="/products" class="alert-link"> Quay lại List!</a>
    </div>
    {{else}}
    <h2 class="mt-5">CHỈNH SỬA BÀI VIẾT</h2>
    <div class="shadow p-3 mb-5 bg-white rounded mt-5">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">ID bài viết</span>
                </div>
                <input readonly type="text" class="form-control" id="ProID" value="{{this.baiviet.ProID}}" name="ProID">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Ảnh đại diện</span>
                </div>
                <input type="text" class="form-control" id="AnhDaiDien" value="{{this.baiviet.AnhDaiDien}}" name="AnhDaiDien">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Tiêu đề</span>
                </div>
                <input type="text" class="form-control" id="TieuDe" value="{{this.baiviet.TieuDe}}" name="TieuDe">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Chuyên mục</span>
                </div>
                <input type="text" class="form-control" id="ChuyenMucChaID" value="{{this.baiviet.ChuyenMucChaID}}"
                    name="ChuyenMucChaID">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Chuyên mục con</span>
                </div>
                <input type="text" class="form-control" id="ChuyenMucConID" value="{{this.baiviet.ChuyenMucConID}}"
                    name="ChuyenMucConID">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Tag</span>
                </div>
                <input required type="text" class="form-control" placeholder="" aria-label="Username"
                    aria-describedby="basic-addon1" id="Nhan" value="{{this.baiviet.Nhan}}" name="Nhan">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Tình Trạng</label>
                </div>
                <select required class="custom-select" id="TinhTrang" name="TinhTrang" value="{{this.baiviet.TinhTrang}}">
                    <option value="default">Trạng thái : {{this.baiviet.TinhTrang}}</option>
                    <option value="0">Bị từ chối</option>
                    <option value="1">Đang chờ duyệt</option>
                    <option value="2">Đã duyệt</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nội dung tóm tắt</span>
                </div>
                <input required type="text" class="form-control" id="NDTomTat" value="{{this.baiviet.NDTomTat}}"
                    name="NDTomTat">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nội dung</span>
                </div>
                <input required type="text" class="form-control" id="txtFullDes" value="{{this.baiviet.NoiDung}}"
                    name="NoiDung">
            </div>
            {{/if}}
            <div class="card-footer text-right">
                <a class="btn btn-info" href="/products/postmanage" role="button" title="Back">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Bài viết
                </a>
                {{#unless this.error}}
                <button type="submit" class="btn btn-danger" formaction="/products/delete">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Xóa
                </button>
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Lưu
                </button>
                {{/unless}}
            </div>
        </form>
    </div>
</div>